<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
form {
    margin: 20;
}
        </style>

        <title>View image</title>
    </head>
    <body>

        <div align=center>
            <form action="." method="get">
                {{form}}
                <input type="submit" value="Resize">
            </form>


            <img src="{{image.img_file.url}}">
            <form action="/" method="get">
                <input type="submit" value="Back" />
            </form>
        </div>
    </body>
</html>
